*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    width: 20px;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

html {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    background: white;
}
/* WRAPPER */
.main-content {
    width: 40%;
    margin: 0 auto;
    padding-top: 6em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

/* HEADING */
.heading__section {
    text-align: center;
    margin-bottom: 4em;
}

.head-title {
    font-size: 2rem;
    font-weight: 900;
}
.sub-title {
    font-size: 1.2rem;
    font-weight: 600;
}

/* SEARCH SECTION */
.search__section {
    /* width: 100%;
    max-width: 450px; */
    /* margin: 0 auto 4em auto; */
    text-align: center;
    border-bottom: 3px solid blue;
    border-radius: 5px;
    padding: 7px 5px;
    margin-bottom: 4em;
    transition: all 0.25s ease-in-out;
}

.search__section label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.search__section input {
    width: 100%;
    outline: none;
    border: none;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
}
.search__section .empty-space {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
}
.search__section .empty-space:hover {
    transform: rotate(90deg);
}

/* DISORDERS SECTIONS */
.tag__section {
    transition: opacity 0.5s ease-in-out;
}

.tag__section ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.tag__section ul li {
    font-weight: 400;
    background: #daf2ff;
    padding: 3.2px 6.4px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.tag__section ul li:hover {
    transform: scale(1.025);
}

#disorder__content {
    width: 100%;
    transition: all 0.5s ease-in-out;
    background: rgb(237, 251, 252);
    padding: 1.5em;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}
#disorder__content h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 15px;
}
#disorder__content p {
    margin: 0 auto;
    max-width: 75ch;
    font-size: 1.2rem;
    font-weight: 400;
}

.search__section:focus-within {
    box-shadow: rgba(0, 0, 0, 0.063) 0px 0.9px 1.2px 0px,
        rgba(0, 0, 0, 0.07) 0px 2.1px 2.9px 0px,
        rgba(0, 0, 0, 0.07) 0px 3.9px 5.5px 0px,
        rgba(0, 0, 0, 0.075) 0px 6.9px 9.8px 0px,
        rgba(0, 0, 0, 0.09) 0px 13px 18.4px 0px,
        rgba(0, 0, 0, 0.17) 0px 31px 44px 0px,
        rgba(0, 0, 0, 0.1) 0px -5px 15px 0px;
    scale: 1.025;
    translate: translateZ(0px);
}

.hidden {
    display: none;
}

@media (max-width: 960px) {
    .main-content {
        width: 80%;
    }
}
@media (max-width: 560px) {
    .main-content {
        width: 100%;
    }
    .tag__section ul {
        gap: 5px;
    }
}
